<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/vue.js"></script>

    <script src="../plugins/jQuery/jqPaginator.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini">
<div class="box-header with-border">
    <h3 class="box-title">商品管理</h3>
</div>
<div class="box-body">
    <!-- 数据表格 -->
    <div class="table-box">
        <div class="pull-left">
            <div class="form-group form-inline">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" title="新建" data-toggle="modal"
                            data-target="#editModal" onclick="vmEdit.isEdit = false"><i class="fa fa-file-o"></i> 新建
                    </button>
                    <button type="button" class="btn btn-default" title="删除" onclick="deleteSelectedId()"><i class="fa fa-trash-o"></i> 删除</button>
                    <button type="button" class="btn btn-default" title="刷新" onclick="flash()"><i
                            class="fa fa-refresh"></i> 刷新
                    </button>
                </div>
            </div>
        </div>
        <div class="box-tools pull-right">
            <div class="has-feedback">
                商品分类：<input id="categoryName"/>
                <button class="btn btn-default" onclick="selectListByCategoryName()">查询</button>
            </div>
        </div>
        <!--数据列表-->
        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
            <thead>
            <tr>
                <th class="" style="padding-right:0px">
                    <input id="selectAll" type="checkbox" class="icheckbox_square-blue" onclick="selectAll()">
                </th>
                <th class="sorting_asc">商品ID</th>
                <th class="sorting">商品名称</th>
                <th class="sorting">副标题</th>
                <th class="sorting">原始价格</th>
                <th class="sorting">促销价格</th>
                <th class="sorting">库存</th>
                <th class="sorting">状态</th>
                <th class="sorting">分类</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody id="app">
            <tr v-for="item in products">
                <td><input type="checkbox" name="t1" @click="vm.selectCurrentId($event, item.id)"></td>
                <td>{{item.id}}</td>
                <td>{{item.NAME}}</td>
                <td>{{item.subTitle}}</td>
                <td>{{item.originalPrice}}</td>
                <td>{{item.promotePrice}}</td>
                <td>{{item.stock}}</td>
                <td>{{item.STATUS}}</td>
                <td>{{item.category}}</td>
                <td class="text-center">
                    <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal"
                            @click="initEditProduct(item); vmEdit.isEdit = true; vm.$data.currentEditId = item.id;">修改
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style=" position: relative; left: 40%;"><ul class="pagination" id="pagination1"></ul></div>
</div>

<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">商品分类编辑</h3>
            </div>
            <div class="modal-body">

                <table id="editTr" class="table table-bordered table-striped" width="800px">
                    <tr>
                        <td>商品分类</td>
                        <td><input class="form-control" placeholder="商品分类"></td>
                    </tr>
                    <tr>
                        <td>商品名称</td>
                        <td><input class="form-control" placeholder="商品名称"></td>
                    </tr>
                    <tr>
                        <td>副标题</td>
                        <td><input class="form-control" placeholder="副标题"></td>
                    </tr>
                    <tr>
                        <td>原始价格</td>
                        <td><input class="form-control" placeholder="原始价格" type="number"></td>
                    </tr>
                    <tr>
                        <td>促销价格</td>
                        <td><input class="form-control" placeholder="促销价格" type="number"></td>
                    </tr>
                    <tr>
                        <td>库存</td>
                        <td><input class="form-control" placeholder="库存" type="number"></td>
                    </tr>
                    <tr>
                        <td>状态</td>
                        <td>
                            <select style="width: 200px">
                                <option value="上架">上架</option>
                                <option value="下架">下架</option>
                            </select></td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer" id="appEdit">
                <button class="btn btn-success" v-if="isEdit"data-dismiss="modal" aria-hidden="true" @click="vm.editProduct()">保存</button>
                <button class="btn btn-success" v-else data-dismiss="modal" aria-hidden="true" @click="vm.addProduct()">添加</button>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true" onclick="vm.closeEditProduct()">
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

</body>
<script>
    var vmEdit = new Vue({
        el: "#appEdit",
        data: {
            isEdit: true
        }
    })
    var vm = new Vue({
        el: "#app",
        data: {
            products: [
                {
                    id: 1,
                    NAME: "xiaohu",
                    subTitle: "爱买不买",
                    originalPrice: 666,
                    promotePrice: 66,
                    stock: 6,
                    STATUS: "上架",
                    category: "教育"
                }
            ],
            currentEditId: 0,
            selectIds: [],
            pageNum: 0,
            pageSize: 10,
            isSelect: false,
            categoryName: "",
        },
        methods: {
            getData: function () {
                let data = {pageNum: vm.pageNum, pageSize: vm.pageSize}
                if (vm.isSelect) {
                    data.categoryName = vm.categoryName
                }
                $.ajax({
                    type: "get",
                    url: "/getProducts",
                    dataType: "json",
                    data: data,
                    success: function (data) {
                        vm.products = data.list;
                        $('#pagination1').jqPaginator('option', {
                            totalPages: (data.total - data.total % vm.pageSize) / vm.pageSize + (data.total % vm.pageSize !== 0 ? 1 : 0)
                        });
                    },
                    error: function () {
                        alert("fail")
                    }
                })
            },
            initEditProduct: function (item) {
                var tb = document.getElementById('editTr');
                var rows = tb.rows;
                rows[0].cells[1].getElementsByTagName('input')[0].value = item.category
                rows[1].cells[1].getElementsByTagName('input')[0].value = item.NAME
                rows[2].cells[1].getElementsByTagName('input')[0].value = item.subTitle
                rows[3].cells[1].getElementsByTagName('input')[0].value = item.originalPrice
                rows[4].cells[1].getElementsByTagName('input')[0].value = item.promotePrice
                rows[5].cells[1].getElementsByTagName('input')[0].value = item.stock
                rows[6].cells[1].getElementsByTagName('select')[0].value = item.STATUS
            },
            closeEditProduct: function () {
                var tb = document.getElementById('editTr');
                var rows = tb.rows;
                for (var i = 0; i < 6; i++) {
                    rows[i].cells[1].getElementsByTagName('input')[0].value = ""
                }
                rows[6].cells[1].getElementsByTagName('select')[0].value = "上架"
            },
            getTableValue: function () {
                var tb = document.getElementById('editTr');
                var rows = tb.rows;
                return {
                    NAME: rows[1].cells[1].getElementsByTagName('input')[0].value,
                    subTitle: rows[2].cells[1].getElementsByTagName('input')[0].value,
                    originalPrice: rows[3].cells[1].getElementsByTagName('input')[0].value,
                    promotePrice: rows[4].cells[1].getElementsByTagName('input')[0].value,
                    stock: rows[5].cells[1].getElementsByTagName('input')[0].value,
                    STATUS: rows[6].cells[1].getElementsByTagName('select')[0].value,
                    categoryName: rows[0].cells[1].getElementsByTagName('input')[0].value.replace(/(^\s*)|(\s*$)/g, "")
                }
            },
            editProduct: function() {
                vmEdit.isEdit = true;
                var data = vm.getTableValue()
                data.id = vm.currentEditId
                $.ajax({
                    type: "post",
                    url: "/editProduct",
                    data: data,
                    success: function (data) {
                        if (data === "category") {
                           alert("你所输入的分类名不存在")
                        }
                        vm.getData()
                    },
                    error: function () {
                        alert("fail")
                    }
                })
            },
            addProduct: function() {
                vmEdit.isEdit = false;
                let data = vm.getTableValue()
                $.ajax({
                    type: "post",
                    url: "/addProduct",
                    data: data,
                    success: function (data) {
                        if (data === "category") {
                            alert("你所输入的分类名不存在")
                        }
                        vm.getData()
                    },
                    error: function () {
                        alert("fail")
                    }
                })
            },
            selectCurrentId: function(e, id) {
                var checked = e.target.checked
                if(checked) {
                    vm.selectIds.push(id)
                } else {
                    for (let i = 0; i < vm.selectIds.length; i++) {
                        if(vm.selectIds[i] === id) {
                            vm.selectIds.splice(i, 1)
                            return
                        }
                    }
                }
            }
        }
    })
    function selectAll() {
        let tb = document.getElementById('app');
        let rows = tb.rows;
        vm.selectIds = []
        if($("input#selectAll").prop("checked")) {
            for(let i = 0; i < rows.length; ++i) {
                rows[i].cells[0].getElementsByTagName('input')[0].checked = true;
                vm.selectIds.push(parseInt(rows[i].cells[1].innerText))
            }
        } else {
            for(let i = 0; i < rows.length; ++i) {
                rows[i].cells[0].getElementsByTagName('input')[0].checked = false;
            }
        }
    }
    function deleteSelectedId() {
        if (vm.selectIds.length === 0) {
            return
        }
        $.ajax({
            type: "post",
            url: "/deleteProduct",
            data: {selectIds: vm.selectIds},
            success: function (data) {
                if (data === "success") {
                    vm.getData()
                    let tb = document.getElementById('app');
                    let rows = tb.rows;
                    vm.selectIds = []
                    for(let i = 0; i < rows.length; ++i) {
                        rows[i].cells[0].getElementsByTagName('input')[0].checked = false;
                    }
                } else {
                    alert("请重试");
                }
            },
            error: function () {
                alert("fail")
            }
        })
    }
    function flash() {
        vm.isSelect = false
        $("input#categoryName").val("")
        vm.getData()
    }
    function selectListByCategoryName() {
        vm.categoryName = $("input#categoryName").val().replace(/(^\s*)|(\s*$)/g, "")
        if(vm.categoryName === "") {
            return
        }
        vm.isSelect = true
        vm.getData()
    }
    $.jqPaginator('#pagination1', {
        totalPages: 1,
        visiblePages: 3,
        currentPage: 1,
        first: '<li class="first"><a href="javascript:;"><<</a></li>',
        prev: '<li class="prev"><a href="javascript:;"><</a></li>',
        next: '<li class="next"><a href="javascript:;">></a></li>',
        last: '<li class="last"><a href="javascript:;">>></a></li>',
        page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',
        onPageChange: function (num) {
            vm.pageNum = num
            vm.getData()
        }
    });
</script>
</html>