body {
    font-family: Arial;
    font-size: 12px;
    min-width: 1024px;
    height: 100%;
}

nav.top {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e7e7e7;
}

nav.top span {
    margin-right: 20px;
}

nav.top span, nav.top a {
    color: #999;
    margin: 0px 10px 0px 10px;
}

nav.top {
    background-color: #f2f2f2;
}

nav.top div.row div {
    margin: 5px 0px;
}

div.footer {
    position:fixed;
    bottom:0;
    height: 85px;
    width: 100%;
    margin: 0;
    background: #0f0f0f;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #e7e7e7;
    display: block;
}

div.footer p {
    font-family: Arial;
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-align:center;
    margin: 20px 0px 0px 0px;
}

div.searchDiv {
    background-color: #4cae4c;
    width: 400px;
    margin: 20px auto;
    padding: 1px;
    height: 40px;
    display: block;
}

div.searchDiv input {
    width: 275px;
    border: 1px solid transparent;
    height: 36px;
    margin: 1px;
    outline:none;
}

div.searchDiv button {
    width: 115px;
    height: 38px;
    border: 1px solid transparent;
    background-color: #4cae4c;
    color: white;
    font-size: 20px;
    font-weight: bold;
    vertical-align: bottom;
}
nav a{
    color: #999;
}

nav.top a:hover {
    color: #4cae4c;
    text-decoration: none;
}

div.categoryWithCarousel{
    width: 100%;
    position: relative;
}
div.categoryWithCarousel div.headBar{
    background-color:#4cae4c;
}
div.categoryWithCarousel div.head{
    width: 200px;
    background-color: #3c763d;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-left: 300px;
    display: inline-block;
}

div.categoryWithCarousel div.rightMenu{
    display: inline-block;
}
div.categoryWithCarousel div.rightMenu a{
    font-size: 16px;
    color: white;
    text-decoration:none;
}
div.categoryWithCarousel div.rightMenu span{
    margin: 0px 20px 0px 20px;
}

/*细分目录*/
div.categoryMenu{
    width: 200px;
    background-color: #e2e2e3;
    margin-left: 300px;
    position: absolute;
    left: 0;
    top: 36px;
    z-index: 1;
    display: none;
}
div.categoryMenu a{
    color: #000;
}
div.categoryMenu a:hover{
    color: lightskyblue;
    text-decoration: none;
}
div.productsAsideCategorys{
    width: 1000px;
    height: 500px;
    background-color: white;
    display: none;
    margin-left: 500px;
    position: absolute;
    left: 0;
    top: 36px;
    z-index: 1;
}
div.productsAsideCategorys div.row{
    margin: 20px 80px 0px 80px;
}
div.productsAsideCategorys div.row div.seperator{
    margin-top: 20px;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #e7e7e7;
}
div.productsAsideCategorys a{
    color: #999;
    font-size: 14px;
    margin: 8px;
}
div.productsAsideCategorys a:hover{
    color: #C40000;
    text-decoration: none;
}
div.eachCategory{
    line-height: 30px;
    padding-left: 10px;
    font-size: 14px;
}
div.eachCategory span{
    margin-right: 10px;
}
div.eachCategory:hover{
    background-color: white;
}

/*分类界面样式*/
div.categoryPageDiv{
    max-width: 1013px;
    margin: 10px auto;
}
div.categoryProducts{
    padding: 0px 20px 40px 20px;
}
div.productUnit{
    width: 225px;
    height: 338px;
    border: 3px solid #fff;
    background-color: white;
    margin: 12px 5px;
    float: left;
}
div.productUnit:hover{
    border:3px solid #4cae4c;
}
div.productUnitFrame{
    border:1px solid #eee;
    height:100%;
}
div.productUnitFrame:hover{
    border:1px solid #4cae4c;
}
div.productUnit img.productImage{
    width: 100%;
    height: 190px;
}
div.productUnit span.productPrice{
    font-size: 20px;
    color: #3c763d;
    display: block;
    padding-left: 4px;
}
div.productUnit a.productLink{
    margin: 10px 0px;
    color: #333333;
    display: block;
    height:34px;
}
div.productUnit a.productLink:hover{
    text-decoration: underline;
    color: #4cae4c;
}
div.productUnit a.xunluLink{
    margin: 10px 0px;
    color: #999999;
    display:block;
    text-decoration: underline;
}
div.productUnit a.xunluLink:hover{
    text-decoration: underline;
    color: #4cae4c;
}
div.productUnit div.productInfo{
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #EEEEEE;
    color:#999999;
}

/*productPart*/
div.productContext {
    max-width: 450px;
    height: 100%;
    margin: 0 auto;
}

div.productTitle, div.productSubTitle, div.separator{
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 10px 10px 0px;
    text-align: center;
}

div.productTitle {
    margin: 50px 10px 10px 0px;
    background-color: #C40000;
}

div.productSubTitle {
    background-color: #ffff00;
}

div.separator {
    background-color: #2DA77A;
}

img.productDetailImage {
    width: 440px;
    height: auto;
}


div.buyDiv button{
    display: inline-block;
    width: 180px;
    height: 40px;
}

button.buyButton{
    border: 1px solid #2aabd2;
    background-color: #FFEDED;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: #2aabd2;
    font-family: arial;
    float: left;
    margin: 10px auto;
}

button.cartButton{
    border: 1px solid #FFEDED;
    background-color: #2aabd2;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: white;
    font-family: arial;
    float: right;
    margin: 10px 10px 0px 10px;
}

