<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xunluyaoyao.web.mapper.OrderItemMapper">
    <insert id="add" parameterType="OrderItem">
        insert into orderitem(pid, uid, number) values(#{pid}, #{uid}, #{number})
    </insert>
    <select id="selectByPidAndUid" parameterType="OrderItem" resultType="OrderItem">
        select * from orderitem where pid = #{pid} and uid = #{uid} and ISNULL(oid)
    </select>
    <update id="update" parameterType="OrderItem">
        update orderitem set number = #{number} where pid = #{pid} and uid = #{uid} and ISNULL(oid)
    </update>

    <resultMap type="OrderItem" id="orderItemBean">
        <id property="id" column="id"/>
        <result property="pid" column="pid"/>
        <result property="uid" column="uid"/>
        <result property="number" column="number"/>
        <association property="product" column="pid" select="com.xunluyaoyao.web.mapper.ProductMapper.selectById"/>
    </resultMap>
    <select id="selectByUid" parameterType="Integer" resultMap="orderItemBean">
        select * from orderitem where uid = #{uid} and ISNULL(oid)
    </select>

    <select id="selectByUidInCart" parameterType="Integer" resultMap="orderItemBean">
        select * from orderitem where uid = #{uid} and ISNULL(oid)
    </select>

    <delete id="deleteById" parameterType="OrderItem">
        delete from orderitem where pid = #{pid} and uid = #{uid} and ISNULL(oid)
    </delete>


    <update id="updateOidAndNumber" parameterType="OrderItem">
        update orderitem set number = #{number}, oid = #{oid} where pid = #{pid} and uid = #{uid} and ISNULL(oid)
    </update>

    <select id="selectByOid" parameterType="Integer" resultMap="orderItemBean">
        select * from orderitem where oid = #{oid}
    </select>
</mapper>
