<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xunluyaoyao.web.mapper.ProductMapper">
    <select id="selectByCategoryId" parameterType="Integer" resultType="Product">
        select * from product where cid=#{cid}
    </select>

    <select id="selectByContext" parameterType="String" resultType="Product">
        select * from product where name like CONCAT('%',#{context},'%') or subTitle like CONCAT('%',#{context},'%')
    </select>

    <select id="selectById" parameterType="Integer" resultType="Product">
        select * from product where id=#{id}
    </select>
</mapper>
