<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xunluyaoyao.web.mapper.UserMapper">
    <select id="getByPasswordAndName" resultType="User">
        select * from users where name = #{name} and password = #{password} and STATUS = "normal"
    </select>

    <select id="getByName" parameterType="String" resultType="User">
        select * from users where name = #{name}
    </select>

    <insert id="add" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into users (name, password, mobile, email, verification_code, STATUS)
        values(#{name}, #{password}, #{mobile}, #{email}, #{verification_code}, #{STATUS})
    </insert>

    <select id="getByCode" parameterType="String" resultType="User">
        select * from users where verification_code = #{verification_code}
    </select>
    
    <update id="setStatus" parameterType="String">
        update users set status = "normal" where verification_code = #{verification_code}
    </update>
</mapper>